workflow_backups/openclaw_linkedin_pipeline_before_batch_2026-04-10.json
{"id" : "fc0EnJtRcw8LLnEr", "name" : "OpenClaw - LinkedIn Lead Pipeline", "nodes" : [{"id": "n1", "name": "Lead Webhook", "type": "n8n-nodes-base.webhook", "position": [220, 300], "webhookId": "6c2484b5-9109-415a-832d-2be88b5b8911", "parameters": {"path": "6c2484b5-9109-415a-832d-2be88b5b8911", "options": {}, "httpMethod": "POST", "responseMode": "onReceived", "authentication": "none", "multipleMethods": false}, "typeVersion": 2}, {"id": "n2", "name": "Leadleri Normalize Et", "type": "n8n-nodes-base.code", "position": [480, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const payload = items[0].json.body ?? items[0].json;\nconst leads = Array.isArray(payload) ? payload : (payload.leads ?? [payload]);\n\nfunction cleanString(value) {\n  return typeof value === 'string' ? value.trim() : '';\n}\n\nfunction pickLeadUrl(item) {\n  const explicitLinkedin = cleanString(item['LinkedIn URL'] || item.linkedin_url);\n  const fallbackUrl = cleanString(item.URL || item.website || '');\n  if (explicitLinkedin) return explicitLinkedin;\n  return fallbackUrl.includes('linkedin.com/company/') ? fallbackUrl : '';\n}\n\nreturn leads.map((item, index) => {\n  const linkedinUrl = pickLeadUrl(item);\n  const website = cleanString(item.Website || item.website || '');\n  const salesScript = cleanString(item['Sales Script'] || item.sales_script || item.message || item.gonderilecek_mesaj || '');\n\n  return {\n    json: {\n      source_index: index,\n      sirket: cleanString(item.company_name || item.sirket || item.Sirket || ''),\n      skor: Number(item.score || item.Skor || 0),\n      website,\n      linkedin_url: linkedinUrl,\n      lead_url: linkedinUrl || website,\n      mesaj: salesScript,\n      kaynak: cleanString(item.kaynak || item.Kaynak || ''),\n      detayli_analiz: cleanString(item.analysis || item.detayli_analiz || ''),\n      lead_type: linkedinUrl ? 'linkedin_ready' : 'web_only'\n    }\n  };\n});", "language": "javaScript"}, "typeVersion": 2}, {"id": "n3", "name": "LinkedIn Hazir Mi", "type": "n8n-nodes-base.if", "position": [760, 300], "parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"operator": {"type": "string", "operation": "notEmpty", "singleValue": true}, "leftValue": "={{ $json.linkedin_url }}", "rightValue": ""}]}}, "typeVersion": 2}, {"id": "n4", "name": "LinkedIn Mesaj At", "type": "n8n-nodes-base.httpRequest", "position": [1040, 210], "parameters": {"url": "http://openclaw_sales_bot:8502/send-message", "method": "POST", "options": {"timeout": 120000, "response": {"response": {"neverError": true, "fullResponse": false, "responseFormat": "autodetect"}}}, "jsonBody": "={{ JSON.stringify({ linkedin_url: $json.linkedin_url, message: $json.mesaj, company_name: $json.sirket }) }}", "sendBody": true, "contentType": "json", "sendHeaders": true, "specifyBody": "json", "authentication": "none", "specifyHeaders": "keypair", "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "typeVersion": 4.2}, {"id": "n5", "name": "Web Leadlerini Isaretle", "type": "n8n-nodes-base.set", "position": [1040, 390], "parameters": {"mode": "manual", "assignments": {"assignments": [{"id": "delivery-status", "name": "delivery_status", "type": "string", "value": "web_only"}, {"id": "delivery-detail", "name": "delivery_detail", "type": "string", "value": "LinkedIn URL bulunamadi. Manuel takip veya zenginlestirme gerekli."}]}, "includeOtherFields": true}, "typeVersion": 3.4}, {"id": "n6", "name": "Sonuclari Birlestir", "type": "n8n-nodes-base.merge", "position": [1310, 300], "parameters": {"mode": "append"}, "typeVersion": 3.2}], "connections" : {"Lead Webhook": {"main": [[{"node": "Leadleri Normalize Et", "type": "main", "index": 0}]]}, "LinkedIn Hazir Mi": {"main": [[{"node": "LinkedIn Mesaj At", "type": "main", "index": 0}], [{"node": "Web Leadlerini Isaretle", "type": "main", "index": 0}]]}, "LinkedIn Mesaj At": {"main": [[{"node": "Sonuclari Birlestir", "type": "main", "index": 0}]]}, "Leadleri Normalize Et": {"main": [[{"node": "LinkedIn Hazir Mi", "type": "main", "index": 0}]]}, "Web Leadlerini Isaretle": {"main": [[{"node": "Sonuclari Birlestir", "type": "main", "index": 1}]]}}}
